body,html {
    min-height:100%;
    position: relative;
}

.container.wrapper {
    padding-bottom: 30px;
}

.page-header {
    position: relative;
}

.alert {
    position: absolute;
    right: 0;
    top: 0;
}

.footer {
    position: fixed;
    bottom: 0;
}

.footer.container .navbar {
    margin-bottom: 0;
}