<div ng-include="'/templates/header.html'"></div>
<div class="well well-small form-inline">
    <input type="text" class="input-medium search-query" placeholder="Type to search">
</div>
<ul class="thumbnails">
    <li class="span3" ng-repeat="note in notes">
        <div class="thumbnail">
            <img class="identicon" src="/img/placeholder.png" width="128" height="128"
                 data-identicon="{{note.sha}}" identicon>
            <div class="caption pagination-centered">
                <h4>Title</h4>
                <button class="btn btn-mini btn-success" ng-href="/notes/{{note.sha1}}/" popupid="decrypt" popup="/templates/decrypt.html" show="isDecrypted(note.sha1)"><i class="icon-white icon-lock"></i> Decrypt</button>
                <button class="btn btn-mini btn-danger" popupid="remove" popup="/templates/remove.html" show="isDecrypted(note.sha1)" click="remove(note.sha1)"><i class="icon-white icon-remove"></i> Remove</button>
                <button class="btn btn-mini btn-info" popupid="share" popup="/templates/share.html" show="isDecrypted(note.sha1)" click="share(note.sha1)"><i class="icon-white icon-globe"></i> Share</button>
            </div>
        </div>
    </li>
</ul>


<script type="text/javascript" src="/lib/cryptojs/alg/sha1.js"></script>